{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": false,
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
	"tailwindConfig": "./tailwind.config.cjs",
	"organizeImportsSkipDestructiveCodeActions": true
}
